PORT = // your server port
BASE_URL =// base url api/*
BD_URL = //database url here
AUTH_EMAIL = your email address
AUTH_PASS = authentication password
PRIVATE_KEY = your private key
SERVER_URL = http://localhost: your localhost